body {
    font-family: "lemonada";
    /*اسم الخط*/
    text-align: center;
    /*توضع الخط*/
    margin: 0;
    /*ابعاد داخلية*/
    padding: 0;
    /*ابعاد خارجية*/
    background-color: #f4f3f3;
    /*لون الخلفية*/
    display: flex;
    /*طريقة العرض*/
    flex-direction: column;
    /*اتجاه العرض*/
    height: 100vh;
    /*الارتفاع*/
    overflow: auto;
    /*تفاعل مع الخلفية*/
}

#title {
    font-size: 24px;
    /*حجم الخط*/
    margin-top: 20px;
    /*مسافة الخط*/
}

#button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0px 120px;
}

.select-button {
    position: relative;
    width: 80px;
    /*العرض*/
    height: 80px;
    line-height: 80px;
    /*ارتفاع السطر*/
    text-align: center;
    cursor: pointer;
    /*الماوس*/
    border-radius: 50%;
    /*حواف الاطار*/
    background: #f74d4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f74d4d), color-stop(100%, #f86569));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #f74d4d), color-stop(100%, #f86569));
    box-shadow: 0 8px #e24f4f;
    /*ظلال المربع*/
    transition: 0.1s all ease-out;
    /*الانيميشن*/
    margin: 5px;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
}

.select-button:active {
    box-shadow: 0 0 #e24f4f;
    transform: translateY(8px);
}

#notification {
    display: none;
    padding: 20px;
    background-color: #45a049;
    color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /*اولوية الظهور*/
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    /*الشفافية*/
    animation: fade-in-out 3s ease-out;
    /*انيميشن*/
}

#location {
    margin-top: 50px;
    font-size: 18px;
}

#map-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    position: relative;
}

#map {
    width: 80vh;
    height: 60vh;
    border: 2px solid #f74d4d;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-in-out {

    0%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
    #button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        padding: 10px 10px
    }

    #map-container {
        padding: 70px 10px;
    }

    #map {
        width: 100%;
        height: 40vh;
        /* Adjust the map height for better visibility on smaller screens */
    }
}